.hero-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

/* .white-container {
  transform: translateY(100vh);
} */

.sticky-title {
  position: relative;
  z-index: 30;
  // Ajoutez ces propriétés pour améliorer le pinning
  will-change: transform;
  backface-visibility: hidden;
}

// Assurez-vous que le container du titre sticky ne gêne pas
.container {
  position: relative;
}

.sticky-title-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
